body{
  margin:0;
}

/*.top-section {

}*/

.navbar-area{
  /*position: fixed;
  width:100%;*/
  align-items:center;
  background-color: #fbdc00;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding : 8px 16px;
}

.navbar-icon{
  margin-left: 125px;
  margin-top:0;
}

.main-menu{
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left:10px;
}

.main-menu li{
  font-family:"Ubuntu", sans-serif;
  font-weight: 600;
  font-size:14px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-menu li:hover{
  color:red;
}

.login-signup{
  margin: 0;
  margin-right: 100px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /*padding-right: 150px;*/
}

.login-signup li{
  padding-left: 10px;
  padding-right: 10px;
}

.signup-button{
  background-color: #ee3425;
  border:none;
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 700;
  width:70px;
  height:35px;
  border-radius: 5px;
}

.introduction-block{
  background: url(https://cdn.cogoport.io/cms-prod/vault/original/home-banner-background-1.webp);
  /*background-image: url(F:\Cogoport-Assignment1\images\home-banner-background-1.webp);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fede00;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -60px;
  padding-top:60px;
}

.inside-introduction-block{
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-right: 50px;
}

.get-started-button{
  background-color: #ee3425;
  border: none;
  width: 150px;
  height:35px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.details-block{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.details-inside-block h3{
  color: red;
}

.trusted-section{
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.trusted-image-section{
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.trusted-image-section img{
  width:75px;
  height:50px;
}

.work-section{
  background-color: #fbdc00;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-section h2{
  font-family: "Ubuntu",sans-serif;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 125px;
}

.work-section button{
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 125px;
}

.industry-section{
  background-color: #fffef3;
  display: flex;
  flex-direction: column;

}

.industry-heading{
  text-align: center;
}

.industry-second-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-class{
  width: 100px;
  height: 100px;
}


/* Subscription section css styling begin*/

.Subscription-section{
  padding-top: 40px;
  background-color: #fbdc00;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Subscription-image{
  padding-right: 50px;
}

.Subscription-input{
  display: flex;
  flex-direction: row;
}

.email-input{
  border: none;
  border-radius: 5px 0 0 5px;
  width:250px;
  height:40px;
}

.Subscription-button{
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #ee3425;
  height:40px;
  width:100px;
}

/* Subscription section css styling end */

/* Products section css styling  begin */

.bottom-block-2{
  /*border: solid;
  border-color: #fbdc00;*/
  background-color: #fbdc00;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 200px;
}

.bottom-inside-block-2 h3{
  text-decoration: underline;
}

.bottom-inside-block-2 p:hover{
  text-decoration: underline;
}

.supply{
  padding-top: 37px;
}

/* Products section css styling end */


.Routes{
  background-color: #ebbe00;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Routes div{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Routes p:hover{
  color: red;
  /*font-weight:bolder;*/
}
